<div id="app container">
  <nav class="navbar">
    <div class="col-md-6 col-md-offset-3">
      <table>
        <tr>
          <td><search result="$ctrl.searchResults" service="$ctrl.service"></search></td>
          <td><select ng-model="$ctrl.service" ng-change="$ctrl.changeService()" ng-options="option for option in $ctrl.services" ng-init="$ctrl.service = $ctrl.services[0]"></select></td>
        </tr>
      </table>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-7">
      <video-player video="$ctrl.currentVideo" service="$ctrl.service"></video-player>
    </div>
    <div class="col-md-5">
      <video-list videos="$ctrl.videos" service="$ctrl.service" on-click="$ctrl.selectVideo"></video-list>
    </div>
  <div>
</div>
