<div class="video-player" ng-if="$ctrl.service === 'youTube'">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" ng-src={{$ctrl.url()}} ng-if="undefined !== $ctrl.video.id" allowFullScreen></iframe>
    <div ng-if="undefined === $ctrl.video.id">Please wait</div>
  </div>
  <div class="video-player-details">
    <h3>{{$ctrl.video.snippet.title}}</h3>
    <div>{{$ctrl.video.snippet.description}}</div>
  </div>
</div>
<div class="video-player" ng-if="$ctrl.service === 'twitch'">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" serv="$ctrl.service" ng-src={{$ctrl.url()}} ng-if="undefined !== $ctrl.video.channel" allowFullScreen></iframe>
    <div ng-if="undefined === $ctrl.video.channel">Please wait</div>
  </div>
  <div class="video-player-details">
    <h3>{{$ctrl.video.channel.status}}</h3>
    <h4>{{$ctrl.video.channel.name}}</h4>
    <div>{{$ctrl.video.channel.game}}</div>
  </div>
</div>
